{% extends 'poems/base.html' %}

{% block header %}

{% endblock header %}

{% block content %}
<div class="col-md-6">
  <p class="text-right"><a href="/new_poem/{{ author.id }}">add new poem</a></p>
  {% for poem in poems %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>
                <a href="/poems/{{ poem.id }}/">{{ poem.title }}</a>
            </h5>
        </div>
        <div class="panel-body">
          {{ poem.text|linebreaks|slice:':100' }}...
          <p class="text-muted">
              <small>
                create at: {{ poem.date_added|date:'F d, Y'}}
              </small>
          </p>
        </div>
    </div><!--panel -->
  {% empty %}
    There are no poems for this author yet.
  {% endfor %}

</div>
<div class="col-md-6">
  <div class="d-flex align-items-end">
    <h4><strong>{{ author.name }}, {{ author.name_zh }}</strong> </h4>
    <div><a href="/edit_author/{{ author.id }}">edit</a></div>
  </div>
  <p class="text-muted">{{ author.born|date:'F d, Y' }} - {{ author.died|date:'F d, Y' }}</p>
    <a class="btn btn-primary">{{ author.language }}</a>
  <p>{{ author.detail|linebreaks }}</p>

</div>

{% endblock content %}