{% extends 'poems/base.html' %}

{% block content %}
<div class="col-md-6">
  <p><a href="/new_author/">Add a new author</a></p>
  {% for author in authors %}
    <div class="col border border-primary mt-3">
        <p>
            <a href="/author/{{ author.id }}/"><strong>{{ author.name }}</strong></a>
        </p>
        <p class="text-muted">{{ author.born|date:'F d, Y' }} - {{ author.died|date:'F d, Y' }}</p>
        <p>{{ author.detail|slice:":150" }}...</p>
    </div>
  {% endfor %}

</div>
<div class="col-md-6">

</div>


{% endblock content %}