<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>英文诗歌网</title>
      <link href="/static/bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet">
      <link href="/static/base.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bg-primary">
      <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">英文诗歌网</a>
      <div class="navbar-nav">
        <ul class="navbar-nav flex-row">
            <li class="nav-item"><a class="nav-link" href="/authors/">诗人</a></li>
            <li class="nav-item"><a class="nav-link" href="#">译文</a></li>
            <li class="nav-item"><a class="nav-link" href="#">批评</a></li>
            <li class="nav-item"><a class="nav-link" href="#">问·答</a></li>
            <li class="nav-item"><a class="nav-link" href="/questions/">分解</a></li>
        </ul>
      </div>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
          {% if user.is_authenticated %}
          <li class="nav-item active"><a class="nav-link">Hello, {{ user.username }}.</a></li>
          <li class="nav-item"><a class="nav-link" href="/users/logout/">log out</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="/users/register/">register</a></li>
          <li class="nav-item"><a class="nav-link" href="/users/login/">log in</a></li>
          {% endif %}
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="page-header px-5">
          {% block header %}{% endblock header %}
      </div>

      <div class="row pl-5">
        <div class="col">
          {% block content-left %}{% endblock content-left %}
        </div>
        <div class="col pr-5">

          {% block content-right %}{% endblock content-right %}
        </div>
      </div>
    </div>
    <footer class="text-muted bd-footer">
      <div class="container-fluid p-3 p-md-5">
        {% block footer %}{% endblock footer %}
      </div>
    </footer>
    <script src="/static/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
  </body>
</html>