{% extends 'poems/base.html' %}

{% block header %}
{% endblock header %}

{% block content-left %}
  <h4>{{ poem.title }}</h4>
  <h5>
      <a href="/authors/{{ author.id }}/">{{ author.name_en }}</a>
  </h5>
  <p>{{ poem.text|linebreaks }}</p>
  <p>
      <a href="/edit_poem/{{ poem.id }}/">edit poem</a>
  </p>
{% endblock content-left %}

{% block content-right %}
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link disabled {% block poem-dictionary %}{% endblock poem-dictionary %}"
                            href="">查词</a>
    </li>
    <li class="nav-item"><a class="nav-link {% block poem-translation %}{% endblock poem-translation %}"
                            href="/poems/{{ poem.id }}/1/">译文</a></li>
    <li class="nav-item"><a class="nav-link {% block poem-question %}{% endblock poem-question %}"
                            href="/poems/{{ poem.id }}/questions">问·答</a></li>
    <li class="nav-item"><a class="nav-link {% block poem-critic %}{% endblock poem-critic %}" href="">批评</a></li>
    <li class="nav-item"><a class="nav-link {% block poem-analysis %}{% endblock poem-analysis %}" href="">分解</a></li>
    <li class="nav-item"><a class="nav-link {% block poem-blank %}{% endblock poem-blank %}"
                            href="/poems/{{ poem.id }}/">空白</a></li>
  </ul>
  {% block content-r-son %}{% endblock content-r-son %}
{% endblock content-right %}