{% extends 'poems/base.html' %}

{% block header %}
<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-6">
    <ul class="nav nav-pills">

      <li class="nav-item"><a class="nav-link {% block translation %}{% endblock translation %}"
                              href="/poem/{{ poem.id }}/translations">译文</a></li>
      <li class="nav-item"><a class="nav-link {% block poem-question %}{% endblock poem-question %}"
                              href="/poem/{{ poem.id }}/questions">问·答</a></li>
      <li class="nav-item"><a class="nav-link disabled {% block poem-critic %}{% endblock poem-critic %}" href="">批评</a></li>
      <li class="nav-item"><a class="nav-link disabled {% block poem-analysis %}{% endblock poem-analysis %}" href="">分解</a></li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="http://youdao.com/">有道词典</a>
      </li>
    </ul>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="col-md-6">
   <h4><strong>{{ poem.title }}</strong></h4>
  <p>
      <a href="/authors/{{ author.id }}/">{{ author.name_en }}</a>
  </p>
  <p>{{ poem.text|linebreaks }}</p>
  <p>
      <a href="/edit_poem/{{ poem.id }}/">edit poem</a>
  </p>
</div>
<div class="col-md-6">
  {% block content-r %}{% endblock content-r %}
</div>

{% endblock content %}