<!DOCTYPE html>
<html lang="en">
{% extends 'poems/base.html' %}

{% block content %}
  <h4>{{ poem.title }}</h4>
  <h5>
      <a href="/authors/{{ author.id }}/">{{ author.name_en }}</a>
  </h5>
  <p>{{ poem.text|linebreaks }}</p>
{% endblock content %}

{% block content-col2 %}
  <p>编辑译诗：</p>
  <form action="/edit_translation/{{ translation.id }}/"  method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button name="submit" class="btn-primary">save changes</button>
  </form>
{% endblock content-col2 %}
</html>