{% extends 'poems/base.html' %}

{% block header %}
  <h5>Edit author information:</h5>
{% endblock header %}

{% block content %}
<div class="col-md-6">
  <form action="/edit_author/{{ author.id }}/" method="post">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        <label>{{ field.label }}</label>
        {{ field }}
      </div>
      {% endfor %}
      <button name="submit" class="btn btn-primary">save changes</button>
  </form>
</div>



{% endblock content %}