{% extends 'poems/base.html' %}
{% block header %}
  <h3>Give an answer</h3>
{% endblock header %}
{% block content %}
<div class="col-md-6">
 <h4><strong><a href="/poems/{{ poem.id }}">{{ poem.title }}</a></strong></h4>
  <h5>
      <a href="/authors/{{ author.id }}/">{{ author.name_en }}</a>
  </h5>
  <p>{{ poem.text|linebreaks }}</p>
</div>
<div class="col-md-6">
  <p>{{ question.title }}</p>
  <p>{{ question.text }}</p>
  <form action="/new_answer/{{ question.id }}/" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button name="'submit" class="btn btn-primary">save answer</button>
  </form>
</div>


{% endblock content %}