<!DOCTYPE html>
<html lang="en">
{% extends 'poems/base.html' %}

{% block content %}
  <h4>{{ poem.title }}</h4>
  <h5>
      <a href="/authors/{{ author.id }}/">{{ author.name_en }}</a>
  </h5>
  <p>{{ poem.text|linebreaks }}</p>
{% endblock content %}

{%  block content-col2 %}
  <p>
      <a href="/authors/{{ author.id }}/">{{ author }}</a>
  </p>
  <p>
      <a href="/authors/{{ author.id }}/{{ poem.id }}/">{{ poem.title }}</a>
  </p>

  <p>Ask a question</p>
  <form action="/new_question/{{ poem.id }}/" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button name="'submit" class="btn btn-primary">add question</button>
  </form>
{% endblock content-col2 %}
</html>