<!DOCTYPE html>
<html lang="en">
{% extends 'poems/base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
  <h4>{{ poem.title }}</h4>
  <h5>
      <a href="/authors/{{ author.id }}/">{{ author.name_en }}</a>
  </h5>
  <p><pre>{{ poem.text }}</pre></p>

  <p>
      <a href="/edit_poem/{{ poem.id }}/">edit poem</a>
  </p>
  <p>问题区：<a href="/new_question/{{ poem.id }}">提问</a></p>
  {% for question in questions %}
    <h5>{{ forloop.counter }}. {{ question.question }}</h5>
  {% endfor %}
{% endblock content %}

{% block content-col2 %}
  {% for translation in translations %}
    <h4>{{ translation.title }}</h4>
    <h5>译者：{{ translation.translator }}</h5>
    <p>{{ translation.text|linebreaks }}</p>
    <p><a href="/edit_translation/{{ translation.id }}/">编辑译诗</a></p>
  {% empty %}
    <p>暂无译诗</p>
  {% endfor %}
    <p><a href="/new_translation/{{ poem.id }}">新增译诗</a></p>
{% endblock content-col2 %}
</html>