{% extends 'poems/base_poem.html' %}

{% block poem-translation %}active{% endblock poem-translation %}
{% block content-r %}
  <h4>{{ translation.title }}</h4>
  <ul class="nav nav-tabs">
    {% for t in translations %}
      <li class="nav-item">
        <a class="nav-link {% if t.id == translation.id %}active{% endif %}"
           href="/poems/{{ poem.id }}/translations/{{ t.id }}/" role="tab">
          {{ t.translator }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <div>
      {{ translation.text|linebreaks }}
      <p><a href="/edit_translation/{{ translation.id }}/">编辑译诗</a></p>
  </div>
  <p><a href="/new_translation/{{ poem.id }}">新增译诗</a></p>
{% endblock content-r %}