<!DOCTYPE html>
<html lang="en">
{% extends 'poems/base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
  <h4>{{ poem.title }}</h4>
  <h5>
      <a href="/authors/{{ author.id }}/">{{ author.name_en }}</a>
  </h5>
  <pre>{{ poem.text|safe|linenumbers }}</pre>

  <p>
      <a href="/edit_poem/{{ poem.id }}/">edit poem</a>
  </p>
  <p>问题区：<a href="/new_question/{{ poem.id }}">提问</a></p>
  {% for question in questions %}
    <h5>{{ forloop.counter }}. {{ question.question }}</h5>
  {% endfor %}
{% endblock content %}

{% block content-col2 %}
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    {% for translation in translations %}
      <li class="nav-item">
        <a class="nav-link {% if forloop.counter == tabnum %}active{% endif %}"
           id="tab-{{ forloop.counter }}" data-toggle="tab"
           href="/authors/{{ author.id }}/{{ poem.id }}/{{ forloop.counter }}" role="tab"
           aria-controls="{{ forloop.counter }}" aria-selected="true">
          {{ translation.translator }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="tab-content" id="myTabContent">
    {% for translation in translations %}
    <div class="tab-pane {% if forloop.counter == tabnum %}active{% endif %}"
         id="{{ forloop.counter }}" role="tabpanel"
         aria-labelledby="tab-{{ forloop.counter }}">
      <h4>{{ translation.title }}</h4>
      {{ translation.text|linebreaks }}
      <p><a href="/edit_translation/{{ translation.id }}/">编辑译诗</a></p>
    </div>
    {% endfor %}
  </div>
  <p><a href="/new_translation/{{ poem.id }}">新增译诗</a></p>
{% endblock content-col2 %}
</html>