{% extends 'poems/base.html' %}

{% block content %}
<div class="col-md-6">
  {% for question in questions %}
    <div class="border border-primary mt-3">
      <p>{{ question.question }}</p>
      <div class="d-flex justify-content-between">
          <div>
            <a href="/poems/{{ question.poem.id }}/">{{ question.poem.title }}</a>:
          </div>
          <div>{{ question.poem.author.name_en }}</div>
      </div>
    </div>
  {% endfor %}
</div>
<div class="col-md-6">

</div>

{% endblock content %}