{% extends 'poems/base.html' %}

{% block content %}
<div class="col-md-6">
  {% for translation in translations %}
    <div class="border border-primary mt-3">
        <div class="d-flex justify-content-between">
          <div>
            <a href="/poems/{{ translation.poem.id }}/">{{ translation.poem.title }}</a>:
          </div>
          <div>{{ translation.poem.author.name_en }}</div>
        </div>
        <p>{{ translation }}</p>
    </div>
  {% endfor %}
</div>
<div class="col-md-6">

</div>

{% endblock content %}